<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CITY ELECTRICS || SUPER ADMIN PANEL</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="/others/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/others/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="/others/css/style.css">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="/others/images/favicon.ico">
        <script src="/jquery-validation/lib/jquery.js"></script>
        <script src="/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/jquery-validation/dist/additional-methods.js"></script>
        <script>
            $(document).ready(function(){
                $('.btn').click(function(e){
                    e.preventDefault();
                    var stateName = $('#stateName').val();
                    if(stateName != ''){
                        $.post('/superAdmin/addState',{
                            stateName:stateName,
                        },function(result){
                            alert(result);
                            $('#stateName').val('');
                            document.location = '/superAdmin/state';
                        });
                    }
                    else{
                        $('#stateName').focus();
                    }
                });
            });
        </script>
    </head>
    <body>
        <div class="container-scroller">
            <!-- partial:../../partials/_navbar.html -->
            {% include "partials/_navbar.njk" %}
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../partials/_sidebar.html -->
                {% include "partials/_sidebar.njk" %}
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="page-header">
                            <h3 class="page-title"> Add State</h3>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="" style="color: #323039;text-decoration: none;">Branch</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Manage State</li>
                                    <li class="breadcrumb-item active" aria-current="page">Add State</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="row">
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">State Form</h4>
                                        <p class="card-description"> Create a new State.</p>
                                        <form
                                            id="stateForm"
                                            class="forms-sample"
                                            action=""
                                            method="post"
                                        >
                                            <div class="form-group">
                                                <label for="stateName">State Name</label>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="stateName"
                                                    name="stateName"
                                                    placeholder="Enter State Name ex. Maharashtra, Gujarat"
                                                    required
                                                >
                                            </div>
                                            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    {% include "partials/_footer.njk" %}
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="/others/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/others/js/off-canvas.js"></script>
        <script src="/others/js/hoverable-collapse.js"></script>
        <script src="/others/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <!-- End custom js for this page -->
    </body>
</html>
