<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CITY ELECTRICS || SUPER ADMIN PANEL</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="/others/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/others/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="/others/css/style.css">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="/others/images/favicon.ico">
        <link href="/DataTables/datatables.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                let table = new DataTable('#stateTable');
            });
        </script>
        <style>
            .dataTables_length{
                margin-bottom: 10px;
            }
            .dataTables_filter{
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <div class="container-scroller">
            <!-- partial:../../partials/_navbar.html -->
            {% include "partials/_navbar.njk" %}
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../partials/_sidebar.html -->
                {% include "partials/_sidebar.njk" %}
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="page-header">
                            <h3 class="page-title"> Manage State</h3>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="" style="color: #323039;text-decoration: none;">Branch</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Manage State</li>
                                </ol>
                            </nav>
                        </div>
                        <!-- Table starts -->
                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card" style="overflow: auto;">
                                    <div class="card-body">
                                        <a href="addState">
                                            <button type="button" style="margin-bottom: 10px;" class="btn btn-outline-success btn-fw">Add State</button>
                                        </a>
                                        <table id="stateTable" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th> #</th>
                                                    <th> State name</th>
                                                    <th> Created date</th>
                                                    <th> Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for state in stateData %}
                                                <tr>
                                                    <td class="py-1"> {{ loop.index }}</td>
                                                    <td> {{ state.state_name }}</td>
                                                    <td> {{ state.created_date }}</td>
                                                    <td>
                                                        <a href="editState/{{ state._id }}">
                                                            <button type="button" class="btn btn-gradient-primary btn-rounded btn-icon">
                                                                <span class="mdi mdi-tooltip-edit"></span>
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <script src="/DataTables/datatables.min.js"></script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- table ends -->
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    {% include "partials/_footer.njk" %}
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="/others/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/others/js/off-canvas.js"></script>
        <script src="/others/js/hoverable-collapse.js"></script>
        <script src="/others/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <!-- End custom js for this page -->
    </body>
</html>
