<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>CITY ELECTRICS || SUPER ADMIN PANEL</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="/others/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/others/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="/others/css/style.css">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="/others/images/favicon.ico">
    </head>
    <body>
        <div class="container-scroller">
            <!-- partial:../../partials/_navbar.html -->
            {% include "partials/_navbar.njk" %}
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../partials/_sidebar.html -->
                {% include "partials/_sidebar.njk" %}
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="page-header">
                            <h3 class="page-title"> Add Customer</h3>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="" style="color: #323039;text-decoration: none;">Customer</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Manage Customer</li>
                                    <li class="breadcrumb-item active" aria-current="page">Add Customer</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="row">
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Customer Form</h4>
                                        <p class="card-description"> Create a new Customer.</p>
                                        <form
                                            id="supplierForm"
                                            class="forms-sample"
                                            action="/admin/customer/saveCustomer"
                                            method="post"
                                        >
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="customerName">Customer Name</label>
                                                        <input
                                                            type="text"
                                                            class="form-control"
                                                            id="customerName"
                                                            name="customerName"
                                                            placeholder="Enter Customer Name"
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input
                                                            type="email"
                                                            class="form-control"
                                                            id="email"
                                                            name="email"
                                                            placeholder="Enter Customer Email"
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="phone">Phone</label>
                                                        <input
                                                            type="number"
                                                            class="form-control"
                                                            id="phone"
                                                            name="phone"
                                                            placeholder="Enter Customer Phone"
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:../../partials/_footer.html -->
                    {% include "partials/_footer.njk" %}
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="/others/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/others/js/off-canvas.js"></script>
        <script src="/others/js/hoverable-collapse.js"></script>
        <script src="/others/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <!-- End custom js for this page -->
        <script src="/jquery-validation/lib/jquery.js"></script>
        <script src="/jquery-validation/dist/jquery.validate.js"></script>
        <script src="/jquery-validation/dist/additional-methods.js"></script>
        <script>
            $(document).ready(function(){
                $('#supplierForm').validate({
                    rules:{
                        phone:{
                            minlength: 10,
                            maxlength: 10,
                        }
                    },
                    messages:{
                        customerName:{
                            required:'* Customer Name is required',
                        },
                        email:{
                            required:'* Email is required',
                        },
                        phone:{
                            required:'* Phone is required',
                        }
                    }
                });
            })
        </script>
    </body>
</html>
